<h1>Listing loans</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>User</th>
    <th>Amount</th>
    <th>Installment</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.kind %></td>
    <td><%= loan.user_id %></td>
    <td><%= loan.amount %></td>
    <td><%= loan.installment %></td>
    <td><%= loan.status %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
