<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @loan.kind %>
</p>

<p>
  <b>User:</b>
  <%= @loan.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @loan.amount %>
</p>

<p>
  <b>Installment:</b>
  <%= @loan.installment %>
</p>

<p>
  <b>Status:</b>
  <%= @loan.status %>
</p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
